.searchList {
  align-content: center;
  width: 100%;
}
body {
  overflow: scroll;
}
fieldset {
  margin-bottom: 30px !important;
  border: 1px solid black !important;
  legend {
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
  }
  padding: 0px 20px 0px 50px !important;
}

.search-field {
  padding: 50px;
  width: 100%;
  overflow: unset;
  background-color: #e9f2ff;
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.selected_sort {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  width: 100px;
  justify-content: space-evenly;
}
.selected_choose {
  flex-grow: 1;
  width: 250px;
  display: flex;
  flex-direction: row;
}
.selected_date {
  flex-grow: 1;
}
.button-form-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  button {
    margin-left: 50px;
  }
  margin-bottom: 10px;
}
