.LoginContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  position: relative;
  background-image: url('https://pic.tripcdn.com/flight_v2/home/flight_home_bg_new.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  form {
    width: 100%;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.6);
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 6px;
    margin: 10px;
  }
}
