table {
  border: 1px solid #000000;
  thead {
    align-items: center;
    align-content: center;
    tr {
      align-items: center;
      background-color: #01c3ff;
      th {
        text-align: center !important;
        background-color: #01c3ff !important;
        color: white !important;
      }
    }
  }
  tbody {
    border: 1px solid #000000;
    tr {
      border: 1px solid #000000;
      td {
        text-align: center !important;
        font-weight: 500;
      }
    }
  }
}
