.ChangeShiff {
  padding: 50px 0;
  width: 100%;
  overflow: hidden;
  .ant-row {
    justify-content: center;
    .Table__User {
      margin-top: 50px;
    }
  }
}

.change_Shift {
  .userInfo {
    .selectChange {
      font-weight: 600;
      span {
        font-weight: 600;
      }
    }
    h3 {
      margin-bottom: 20px;
      font-size: 20px;
      color: black;
    }

    p {
      font-weight: 600;
    }
  }
  .ant-modal-header {
    background-color: #104382;
    h2 {
      color: white;
      margin: 0;
    }
  }
  .ant-modal-close-icon {
    color: white;
  }
}
