.form {
  .groupCol {
    position: relative;
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    .ant-col {
      background-color: red !important;
      .ant-picker {
        background-color: red !important;
      }
    }
  }
  .errorField {
    color: red;
  }
  .requiredField {
    color: red;
  }
}
