.Navbar {
  width: 100%;
  background-color: #e9f2ff;
  border-bottom: 2px solid #e9f2ff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 70px;
  position: relative;
  z-index: 10;
}
