.ChangePassword {
  .email {
    label {
      &::after {
        display: none;
      }
    }
  }
  .ant-modal-header {
    background-color: #104382;
  }
  .ant-form-item-required {
    &::after {
      display: inline-block;
      margin-right: 0px;
      color: #ff4d4f;
      font-size: 12px;
      line-height: 1;
      content: '(*)' !important;
    }
    &::before {
      display: none !important;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      line-height: 1;
      content: '' !important;
    }
  }

  .ant-col-15 {
    max-width: 100% !important;
  }

  .ant-modal {
    .ant-modal-body {
      .ant-input {
        border: none;
      }
    }
  }

  .ant-input-affix-wrapper {
    border: 1px solid #7d7d7d !important;
    .ant-input-suffix {
      flex-direction: row-reverse;
      .ant-input-password-icon {
        margin-right: 0;
        padding-left: 4px;
      }
    }
  }
  .ant-form-item-feedback-icon {
    display: none;
  }
}
