.ant-form-item-required {
  &::after {
    display: inline-block;
    margin-right: 0px;
    color: #ff4d4f;
    font-size: 12px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '(*)' !important;
  }
  &::before {
    display: none !important;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '' !important;
  }
}

.ant-col-15 {
  max-width: 100% !important;
}

.ant-modal {
  .ant-modal-body {
    .ant-input {
      border: none;
    }
  }
}

.ant-form-item-control-input-content {
  text-align: center;
}

.ant-input-affix-wrapper {
  border: 1px solid #7d7d7d !important;
}
