.button1 {
  div {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
}
.ant-form-item-required {
  &::after {
    display: inline-block;
    margin-right: 0px;
    color: #ff4d4f;
    font-size: 12px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '(*)' !important;
  }
  &::before {
    display: none !important;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '' !important;
  }
}
.ant-col-15 {
  max-width: 100% !important;
  .ant-form-item-control-input-content {
    text-align: center;
  }
}
