.groupCol {
  display: flex;
  flex-basis: 40%;
  flex-wrap: wrap;
}
.errorField {
  color: red;
}
<<<<<<< HEAD
=======
.requiredField {
  color: red;
}
>>>>>>> b4095e29d9551734ea081ca64b357726bcf55e80
