#modalContainer {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 5s ease-out;
  overflow: scroll;
  z-index: 999;

  .modalContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 80%;
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    font-size: 1.6rem;
    padding: 20px;

    .modalTitle {
      border-bottom: 1px solid;
      align-self: flex-start;
      padding-bottom: 20px;
      font-size: 39px;
      width: 100%;
      max-width: 100%;
    }

    .closeModal {
      position: absolute;
      cursor: pointer;
      background-image: url(../../../assets/Icon/closeIcon.svg);
      background-repeat: no-repeat;
      padding: 15px;
      right: 20px;
      top: 26px;
    }
  }
}

/*====== Responsive screen (MEDIUM : =< 900px)  =======*/

@media screen and (max-width: 900px) {
  #modalContainer {
    .modalContent {
      position: absolute;
      width: 90%;
    }
  }
}

/*====== Responsive screen (SMALL: =< 600px) =======*/

@media screen and (max-width: 600px) {
  #modalContainer {
    .modalContent {
      width: 100%;
    }
  }
}
