@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  margin: 0 auto;
  font-family: 'Jost', sans-serif;
  background: #f1f4f5 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a:hover {
    cursor: pointer;
  }
}
code {
  font-family: 'Jost', sans-serif;
}
