.ant-modal {
  .ant-row {
    margin-bottom: 20px;
  }
  .ant-form-item-required:before {
    position: absolute;
    right: 0%;
    margin-bottom: 7px;
    margin-right: -12px !important;
  }
}
@media (max-width: 767px) {
  .ant-modal {
    max-width: calc(100% - 16px) !important;
    margin: auto !important;
    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
      margin-left: 0;
    }
  }
}
