@mixin addFlex {
  width: 100%;
  height: 100%;
  display: flex;
}

.tb_end {
  @include addFlex;
  justify-content: flex-end;
}
.tb_start {
  @include addFlex;
  justify-content: flex-start;
}
.tb_center {
  @include addFlex;
  justify-content: center;
}
