@mixin addFlex {
  width: 100%;
  height: 100%;
  display: flex;
}

.ant-pagination-total-text {
  position: absolute;
  left: 0;
}

.ant-pagination-options {
  position: absolute;
  right: 0;

  &::after {
    position: absolute;
    content: 'Item perpage';
    display: block;
    top: 0;
    left: -100%;
  }
}

.tb_end {
  @include addFlex;
  justify-content: flex-end;
}
.tb_start {
  @include addFlex;
  justify-content: flex-start;
}
.tb_center {
  @include addFlex;
  justify-content: center;
}
