.Home {
  overflow: hidden;
}

.listNotice {
  width: 90%;
  padding: 20px 50px;
  .titleNotice {
    display: flex;
    justify-content: flex-start;
  }

  .itemPage {
    display: flex;
    justify-content: flex-end;

    span {
      cursor: pointer;
    }
  }
}

.tableHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
