.Home {
  background: linear-gradient(45deg, #4158d0, #c850c0);
  min-height: 100vh;
}

.listNotice {
  width: 100%;
  padding: 20px 50px;
  .titleNotice {
    display: flex;
    justify-content: flex-start;
  }

  .itemPage {
    display: flex;
    justify-content: flex-end;

    span {
      cursor: pointer;
    }
  }
}

.tableHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
