.tableNotice {
  .ant-table-thead {
    th {
      background-color: #2196f3;

      &.ant-table-column-has-sorters {
        &:hover {
          background-color: #2196f3;
        }
      }
    }
  }

  .ant-table-tbody {
    tr {
      &:hover {
        td {
          background-color: #e5e2e2;
        }
      }
      &:nth-child(even) {
        // background-color: #a8a0a0;
      }
    }
  }
}
